.DS_Store
celerybeat.pid
django.pot
*.bak*
.vscode/
.idea
*.sln
*.pyc
*.gv
*.sql
*.env
*.sh
*.log

static/assets*
venv
USERRES
rule_engine
profiles
debug
static_root
config/local_settings.py
htmlcov
htmltest
.coverage
coverage.xml
result.xml
swagger.json
dist
*.egg-info
*.sqlite3
.codecc
build.yml
.vscode
